.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}

.image {
  max-width: 520px; 
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  filter: none;
  -webkit-user-drag: none;
  user-select: none;
}
